In [1]:
# Import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder

In [2]:
# Import data
# Import data
df = pd.read_csv(Path('../resources/austinHousingData.csv'))
df.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [4]:
# Create features and target
y = df["latestPrice"]
X = df.drop(columns=['city','streetAddress','description','hasAssociation','hasCooling','hasGarage','hasHeating','hasSpa','hasView','homeType','latest_saledate','latestPriceSource','homeImage','latestPrice'])

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(11378, 33)

In [7]:
# Gradient Boosting Regressor with 2 estimators
GB=GradientBoostingRegressor(n_estimators=2)
GB.fit(X_train, y_train)

GradientBoostingRegressor(n_estimators=2)

In [8]:
# Create predictions
y_pred = GB.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

      Prediction     Actual
0   4.834895e+05   439900.0
1   5.294566e+05   560000.0
2   4.834895e+05   450000.0
3   4.834895e+05   375000.0
4   7.170445e+05  2100000.0
5   5.560043e+05   775000.0
6   5.294566e+05   433000.0
7   4.834895e+05   279500.0
8   5.294566e+05   575000.0
9   1.241993e+06  2199000.0
10  4.834895e+05   318000.0
11  4.834895e+05   325000.0
12  4.834895e+05   269900.0
13  4.834895e+05   499900.0
14  4.834895e+05   575000.0
15  4.834895e+05   364900.0
16  4.834895e+05   490000.0
17  5.294566e+05   439900.0
18  4.834895e+05   699900.0
19  5.074393e+05   340000.0

In [10]:
# Calculate R squared and Adjusted R Square
import statsmodels.api as sm
result = sm.OLS(y_pred, y_test).fit()
print(result.rsquared, result.rsquared_adj)

0.6344547934915246 0.6343583944391753

In [11]:
# Calculate Mean Squared Error
from sklearn.metrics import mean_squared_error
import math
print(mean_squared_error(y_test, y_pred))
print(math.sqrt(mean_squared_error(y_test, y_pred)))

183316565408.0615
428154.8381229173

In [12]:
# Calculate Mean Absolute Error(MAE)
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, y_pred))

217106.75607258754