In [1]:
# Import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
# Import data
# Import data
df = pd.read_csv(Path('../resources/regressiondata.csv'))
df.head()

,Unnamed: 0,zpid,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,...,homeType_Apartment,homeType_Condo,homeType_Mobile / Manufactured,homeType_MultiFamily,homeType_Multiple Occupancy,homeType_Other,homeType_Residential,homeType_Single Family,homeType_Townhouse,homeType_Vacant Land
0,0,111373431,78660,30.430632,-97.663078,1.98,2,1,1,1,...,0,0,0,0,0,0,0,1,0,0
1,1,120900430,78660,30.432673,-97.661697,1.98,2,1,1,1,...,0,0,0,0,0,0,0,1,0,0
2,2,2084491383,78660,30.409748,-97.639771,1.98,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
3,3,120901374,78660,30.432112,-97.661659,1.98,2,1,1,1,...,0,0,0,0,0,0,0,1,0,0
4,4,60134862,78660,30.437368,-97.656860,1.98,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
# Save 'zpid'
id_df = df['zpid']

# Drop 'zpid' column
df.drop("zpid", axis = 1, inplace = True)
df.drop("latest_saledate", axis = 1, inplace = True)

# Check data size after dropping the 'Id' variable
print("\nData size: {} ".format(df.shape))

Data size: (15171, 59)

In [4]:
# Create features and target
y = df["latestPrice"]
X = df.drop(columns=['latestPrice'])

In [5]:
# Split data into train/test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(11378, 58)

In [6]:
# Gradient Boosting Regressor with 2 estimators
GB=GradientBoostingRegressor(n_estimators=2)
GB.fit(X_train, y_train)

GradientBoostingRegressor(n_estimators=2)

In [7]:
# Create predictions
y_pred = GB.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

      Prediction     Actual
0   4.931914e+05   439900.0
1   5.319320e+05   560000.0
2   4.931914e+05   450000.0
3   4.931914e+05   375000.0
4   6.795005e+05  2100000.0
5   4.931914e+05   775000.0
6   5.319320e+05   433000.0
7   4.789696e+05   279500.0
8   5.319320e+05   575000.0
9   1.241395e+06  2199000.0
10  4.931914e+05   318000.0
11  4.789696e+05   325000.0
12  4.789696e+05   269900.0
13  4.789696e+05   499900.0
14  4.931914e+05   575000.0
15  4.789696e+05   364900.0
16  5.004072e+05   490000.0
17  5.319320e+05   439900.0
18  4.931914e+05   699900.0
19  5.037722e+05   340000.0

In [11]:
for x in y_pred:
    if x < 0:
        print(x)

In [8]:
# Calculate R squared and Adjusted R Square
import statsmodels.api as sm
result = sm.OLS(y_pred, y_test).fit()
print(result.rsquared, result.rsquared_adj)

0.6362379642461529 0.6361420354392557

In [13]:
# Calculate Mean Squared Error
from sklearn.metrics import mean_squared_error, mean_squared_log_error
import math
print(mean_squared_error(y_test, y_pred))
print(math.sqrt(mean_squared_error(y_test, y_pred)))
print(mean_squared_log_error(y_test, y_pred))

182468510515.16418
427163.33002162556
0.26582395295250466

In [10]:
# Calculate Mean Absolute Error(MAE)
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, y_pred))

217201.49035516093

In [16]:
msle = np.mean(np.power(np.log1p(y_pred) - np.log1p(y_test), 2))
msle

0.2658239529525041