In [1]:
import pandas as pd

In [3]:
housing_data=pd.read_csv("../austinHousingData.csv")
housing_data.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [4]:
housing_data.columns

Index(['zpid', 'city', 'streetAddress', 'zipcode', 'description', 'latitude',
       'longitude', 'propertyTaxRate', 'garageSpaces', 'hasAssociation',
       'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView',
       'homeType', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'latestPriceSource', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'homeImage'],
      dtype='object')

In [6]:
#pull out unused information
descriptiveinfo=housing_data[["zpid", "streetAddress", "latitude", "longitude", "description", "homeImage", "latestPriceSource"]].copy()
descriptiveinfo.head()

,zpid,streetAddress,latitude,longitude,description,homeImage,latestPriceSource
0,111373431,14424 Lake Victor Dr,30.430632,-97.663078,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...,"Coldwell Banker United, Realtors - South Austin"
1,120900430,1104 Strickling Dr,30.432673,-97.661697,Absolutely GORGEOUS 4 Bedroom home with 2 full...,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...,Agent Provided
2,2084491383,1408 Fort Dessau Rd,30.409748,-97.639771,Under construction - estimated completion in A...,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...,Agent Provided
3,120901374,1025 Strickling Dr,30.432112,-97.661659,Absolutely darling one story home in charming ...,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...,Agent Provided
4,60134862,15005 Donna Jane Loop,30.437368,-97.656860,Brimming with appeal & warm livability! Sleek ...,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg,Agent Provided

In [11]:
#create regression data
regressiondata=housing_data.drop(columns=["streetAddress","description", "homeImage", "latestPriceSource"])
regressiondata.head()

,zpid,city,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,...,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories
0,111373431,pflugerville,78660,30.430632,-97.663078,1.98,2,True,True,True,...,0,1,1,1.266667,2.666667,1063,14,3.0,4,2
1,120900430,pflugerville,78660,30.432673,-97.661697,1.98,2,True,True,True,...,0,1,1,1.400000,2.666667,1063,14,2.0,4,1
2,2084491383,pflugerville,78660,30.409748,-97.639771,1.98,0,True,True,False,...,2,1,1,1.200000,3.000000,1108,14,2.0,3,1
3,120901374,pflugerville,78660,30.432112,-97.661659,1.98,2,True,True,True,...,0,1,1,1.400000,2.666667,1063,14,2.0,3,1
4,60134862,pflugerville,78660,30.437368,-97.656860,1.98,0,True,True,False,...,0,1,1,1.133333,4.000000,1223,14,3.0,3,2

In [8]:
#create data frame with just data information
dateinfo=housing_data[["zpid", "streetAddress", "latitude", "longitude", 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'latestPrice']]
dateinfo.head()

,zpid,streetAddress,latitude,longitude,latest_saledate,latest_salemonth,latest_saleyear,latestPrice
0,111373431,14424 Lake Victor Dr,30.430632,-97.663078,2019-09-02,9,2019,305000.0
1,120900430,1104 Strickling Dr,30.432673,-97.661697,2020-10-13,10,2020,295000.0
2,2084491383,1408 Fort Dessau Rd,30.409748,-97.639771,2019-07-31,7,2019,256125.0
3,120901374,1025 Strickling Dr,30.432112,-97.661659,2018-08-08,8,2018,240000.0
4,60134862,15005 Donna Jane Loop,30.437368,-97.656860,2018-10-31,10,2018,239900.0

In [9]:
#what columns need to be changed

#bool: hasAssociation, hasCooling, hasGarage, hasHeating, hasSpa, hasView
#object: homeType, latest_saledate

regressiondata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   city                        15171 non-null  object
 2   zipcode                     15171 non-null  int64
 3   latitude                    15171 non-null  float64
 4   longitude                   15171 non-null  float64
 5   propertyTaxRate             15171 non-null  float64
 6   garageSpaces                15171 non-null  int64
 7   hasAssociation              15171 non-null  bool
 8   hasCooling                  15171 non-null  bool
 9   hasGarage                   15171 non-null  bool
 10  hasHeating                  15171 non-null  bool
 11  hasSpa                      15171 non-null  bool
 12  hasView                     15171 non-null  bool
 13  homeType                    15171 non-null  object
 14  parkingSpaces               15171 non-null  int64
 15  yearBuilt                   15171 non-null  int64
 16  latestPrice                 15171 non-null  float64
 17  numPriceChanges             15171 non-null  int64
 18  latest_saledate             15171 non-null  object
 19  latest_salemonth            15171 non-null  int64
 20  latest_saleyear             15171 non-null  int64
 21  numOfPhotos                 15171 non-null  int64
 22  numOfAccessibilityFeatures  15171 non-null  int64
 23  numOfAppliances             15171 non-null  int64
 24  numOfParkingFeatures        15171 non-null  int64
 25  numOfPatioAndPorchFeatures  15171 non-null  int64
 26  numOfSecurityFeatures       15171 non-null  int64
 27  numOfWaterfrontFeatures     15171 non-null  int64
 28  numOfWindowFeatures         15171 non-null  int64
 29  numOfCommunityFeatures      15171 non-null  int64
 30  lotSizeSqFt                 15171 non-null  float64
 31  livingAreaSqFt              15171 non-null  float64
 32  numOfPrimarySchools         15171 non-null  int64
 33  numOfElementarySchools      15171 non-null  int64
 34  numOfMiddleSchools          15171 non-null  int64
 35  numOfHighSchools            15171 non-null  int64
 36  avgSchoolDistance           15171 non-null  float64
 37  avgSchoolRating             15171 non-null  float64
 38  avgSchoolSize               15171 non-null  int64
 39  MedianStudentsPerTeacher    15171 non-null  int64
 40  numOfBathrooms              15171 non-null  float64
 41  numOfBedrooms               15171 non-null  int64
 42  numOfStories                15171 non-null  int64
dtypes: bool(6), float64(9), int64(25), object(3)
memory usage: 4.4+ MB

In [14]:
#convert bool to int
regressiondata[['hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView']] = regressiondata[['hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView']].astype(int)
regressiondata.head()

,zpid,city,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,...,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories
0,111373431,pflugerville,78660,30.430632,-97.663078,1.98,2,1,1,1,...,0,1,1,1.266667,2.666667,1063,14,3.0,4,2
1,120900430,pflugerville,78660,30.432673,-97.661697,1.98,2,1,1,1,...,0,1,1,1.400000,2.666667,1063,14,2.0,4,1
2,2084491383,pflugerville,78660,30.409748,-97.639771,1.98,0,1,1,0,...,2,1,1,1.200000,3.000000,1108,14,2.0,3,1
3,120901374,pflugerville,78660,30.432112,-97.661659,1.98,2,1,1,1,...,0,1,1,1.400000,2.666667,1063,14,2.0,3,1
4,60134862,pflugerville,78660,30.437368,-97.656860,1.98,0,1,1,0,...,0,1,1,1.133333,4.000000,1223,14,3.0,3,2

In [19]:
#convert date
regressiondata['latest_saledate']= pd.to_datetime(regressiondata['latest_saledate'])
regressiondata.head()

,zpid,city,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,...,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories
0,111373431,pflugerville,78660,30.430632,-97.663078,1.98,2,1,1,1,...,0,1,1,1.266667,2.666667,1063,14,3.0,4,2
1,120900430,pflugerville,78660,30.432673,-97.661697,1.98,2,1,1,1,...,0,1,1,1.400000,2.666667,1063,14,2.0,4,1
2,2084491383,pflugerville,78660,30.409748,-97.639771,1.98,0,1,1,0,...,2,1,1,1.200000,3.000000,1108,14,2.0,3,1
3,120901374,pflugerville,78660,30.432112,-97.661659,1.98,2,1,1,1,...,0,1,1,1.400000,2.666667,1063,14,2.0,3,1
4,60134862,pflugerville,78660,30.437368,-97.656860,1.98,0,1,1,0,...,0,1,1,1.133333,4.000000,1223,14,3.0,3,2

In [21]:
#get dummies
regressiondata3=pd.get_dummies(regressiondata)
regressiondata3.head()

,zpid,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,...,homeType_Apartment,homeType_Condo,homeType_Mobile / Manufactured,homeType_MultiFamily,homeType_Multiple Occupancy,homeType_Other,homeType_Residential,homeType_Single Family,homeType_Townhouse,homeType_Vacant Land
0,111373431,78660,30.430632,-97.663078,1.98,2,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
1,120900430,78660,30.432673,-97.661697,1.98,2,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
2,2084491383,78660,30.409748,-97.639771,1.98,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0
3,120901374,78660,30.432112,-97.661659,1.98,2,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
4,60134862,78660,30.437368,-97.656860,1.98,0,1,1,0,1,...,0,0,0,0,0,0,0,1,0,0

In [22]:
regressiondata3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 60 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   zpid                            15171 non-null  int64
 1   zipcode                         15171 non-null  int64
 2   latitude                        15171 non-null  float64
 3   longitude                       15171 non-null  float64
 4   propertyTaxRate                 15171 non-null  float64
 5   garageSpaces                    15171 non-null  int64
 6   hasAssociation                  15171 non-null  int32
 7   hasCooling                      15171 non-null  int32
 8   hasGarage                       15171 non-null  int32
 9   hasHeating                      15171 non-null  int32
 10  hasSpa                          15171 non-null  int32
 11  hasView                         15171 non-null  int32
 12  parkingSpaces                   15171 non-null  int64
 13  yearBuilt                       15171 non-null  int64
 14  latestPrice                     15171 non-null  float64
 15  numPriceChanges                 15171 non-null  int64
 16  latest_saledate                 15171 non-null  datetime64[ns]
 17  latest_salemonth                15171 non-null  int64
 18  latest_saleyear                 15171 non-null  int64
 19  numOfPhotos                     15171 non-null  int64
 20  numOfAccessibilityFeatures      15171 non-null  int64
 21  numOfAppliances                 15171 non-null  int64
 22  numOfParkingFeatures            15171 non-null  int64
 23  numOfPatioAndPorchFeatures      15171 non-null  int64
 24  numOfSecurityFeatures           15171 non-null  int64
 25  numOfWaterfrontFeatures         15171 non-null  int64
 26  numOfWindowFeatures             15171 non-null  int64
 27  numOfCommunityFeatures          15171 non-null  int64
 28  lotSizeSqFt                     15171 non-null  float64
 29  livingAreaSqFt                  15171 non-null  float64
 30  numOfPrimarySchools             15171 non-null  int64
 31  numOfElementarySchools          15171 non-null  int64
 32  numOfMiddleSchools              15171 non-null  int64
 33  numOfHighSchools                15171 non-null  int64
 34  avgSchoolDistance               15171 non-null  float64
 35  avgSchoolRating                 15171 non-null  float64
 36  avgSchoolSize                   15171 non-null  int64
 37  MedianStudentsPerTeacher        15171 non-null  int64
 38  numOfBathrooms                  15171 non-null  float64
 39  numOfBedrooms                   15171 non-null  int64
 40  numOfStories                    15171 non-null  int64
 41  city_austin                     15171 non-null  uint8
 42  city_del valle                  15171 non-null  uint8
 43  city_driftwood                  15171 non-null  uint8
 44  city_dripping springs           15171 non-null  uint8
 45  city_manchaca                   15171 non-null  uint8
 46  city_manor                      15171 non-null  uint8
 47  city_pflugerville               15171 non-null  uint8
 48  city_road                       15171 non-null  uint8
 49  city_west lake hills            15171 non-null  uint8
 50  homeType_Apartment              15171 non-null  uint8
 51  homeType_Condo                  15171 non-null  uint8
 52  homeType_Mobile / Manufactured  15171 non-null  uint8
 53  homeType_MultiFamily            15171 non-null  uint8
 54  homeType_Multiple Occupancy     15171 non-null  uint8
 55  homeType_Other                  15171 non-null  uint8
 56  homeType_Residential            15171 non-null  uint8
 57  homeType_Single Family          15171 non-null  uint8
 58  homeType_Townhouse              15171 non-null  uint8
 59  homeType_Vacant Land            15171 non-null  uint8
dtypes: datetime64[ns](1), float64(9), int32(6), int64(25), uint8(19)
memory usage: 4.7 MB

In [23]:
regressiondata3.to_csv("regressiondata.csv")

In [24]:
dateinfo.to_csv("dateinfo.csv")

In [25]:
descriptiveinfo.to_csv("descriptiveinfo.csv")