In [1]:
import pandas as pd
from pathlib import Path

In [2]:
df = pd.read_csv(Path('../Resources/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv'))
df

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31
0,102001,0,United States,Country,NaN,107860.0,107887.0,107937.0,108064.0,108208.0,...,262913.0,265716.0,268690.0,271763.0,275071.0,278662.0,282735.0,287579.0,293121.0,298933.0
1,394913,1,"New York, NY",Msa,NY,186908.0,186471.0,186194.0,185663.0,185347.0,...,499371.0,504428.0,509356.0,514095.0,518935.0,524000.0,529570.0,536247.0,544198.0,552607.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,184839.0,185096.0,185116.0,185224.0,185197.0,...,719725.0,727136.0,735212.0,743347.0,752071.0,761150.0,773063.0,790724.0,811628.0,831593.0
3,394463,3,"Chicago, IL",Msa,IL,147491.0,147472.0,147351.0,147412.0,147317.0,...,252974.0,255348.0,257714.0,259803.0,262422.0,265051.0,268420.0,271938.0,276069.0,280130.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,112545.0,112609.0,112770.0,113092.0,113439.0,...,268525.0,271296.0,274597.0,277507.0,281346.0,285684.0,291484.0,298128.0,305540.0,313393.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,76962.0,77496.0,78119.0,78774.0,79356.0,79868.0,80141.0,80467.0,80814.0,81572.0
907,753874,930,"Craig, CO",Msa,CO,65725.0,65968.0,66225.0,66724.0,67078.0,...,204404.0,205536.0,206776.0,208126.0,209504.0,211056.0,212899.0,215152.0,217458.0,219855.0
908,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,123443.0,124319.0,124855.0,125357.0,126637.0,127754.0,129682.0,131128.0,132118.0,133269.0
909,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,68124.0,68184.0,68199.0,68354.0,68664.0,68906.0,69135.0,69314.0,69688.0,70034.0
910,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,312029.0,313672.0,315411.0,317102.0,317953.0,318929.0,319981.0,320937.0,321755.0,322276.0

In [4]:
Austin = df[df["RegionName"] == 'Austin, TX']
Austin

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31
35,394355,35,"Austin, TX",Msa,TX,167522.0,166672.0,165453.0,163717.0,163260.0,...,367730.0,375735.0,384071.0,392079.0,403140.0,416894.0,434403.0,453024.0,474812.0,496659.0